# .env file to set up your youtrack site

#
# Network name
#
# Your container app must use a network conencted to your webproxy
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy

#
# YouTrack Container configuration
#
CONTAINER_YOUTRACK_NAME=youtrack
CONTAINER_YOUTRACK_NGINX_NAME=youtrack-nginx

# Path to store your youtrack files
YT_DATA=/path/to/your/youtrack/data
YT_CONF=/path/to/your/youtrack/conf
YT_LOGS=/path/to/your/youtrack/logs
YT_BACKUPS=/path/to/your/youtrack/backups

# Your domain (or domains)
DOMAINS=domain.com,www.domain.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=your_email@domain.com
